* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    line-height: 1.7;
    background-color: black;
}
header {
    padding: 35px 30px;

    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
}

header h1 {
    margin-left: ;
    font-weight: bold;
    font-size: 26px;
    color: black;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

header nav ul li {
    margin: 10 15px;
    font-size: 1.55vw;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;  
  }

  header nav {
  margin: 7px 0;
}
  
/* .mySlides {
    
    display: flex;
} */

.slide-section {
    height: 100%;
    display: inline-flex;
    transform: translate(0);
    transition: 0.3s ease-out;
    cursor: grab;

}

.slides {
    max-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    user-select: none;
}

.slides img {
    max-width: 100%;
    max-height: 60%;
}



  

  

footer {
    position: absolute;
    bottom: 0;
    background-color: rebeccapurple;
    width: 100%;
    /* padding: 40px 35px; */
    /* flex-wrap: wrap;
    justify-content: space-between; */
  }
  











/* #searchBtn {
    margin-left: .3rem;
}

#searchOutput {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

#searchOutput * {
    width: 50%;
} */

.slide-section  {
    margin-top: 10px;
}
.bulma-control-extend {
    @extend %control;
    background: mediumblue;
    color: white;
}